.center-container img {
  width: 272px;
  display: block;
  padding-top: 210px;
  margin: 0 auto;
}

input {
  width: 500px;
  height: 30px;
  margin: 15px auto;
  display: block;
  font-size: 16px;
}

.center-container {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

.navbar ul {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 10px 0;
}

.navbar li {
  float: right;
  padding: 8px;
  line-height: 1.3em;
}

body {
  font-family: Arial;
  color: #6d6b6b;
  font-size: 14px;
  
}

li a {
  text-decoration: none;
  color: #6d6b6b;
}

.navbar ul img {
  display: block;
}

.apps-icon {
  width: 25px;
  height: 25px;
}

.notifications-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.profile-icon {
  width: 30px;
  height: 30px;
  padding-right: 20px;
}

.footer ul {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #F2F2F2;
  line-height: 40px;
  border-top: 1px solid #e4e4e4;
}

.footer li {
  padding: 0 15px;
}

.left-footer li {
  float: left;
}

.right-footer li {
  float: right;
}
